page-home {
    ion-card.card.card-md {
        text-align: center;
    }
    img.insurance {
        margin-top: 25%;
    }
    ion-card.title.card.card-md {
        margin-top: 12%;
    }
    ion-card.btns.card.card-md {
        margin-top: 20%;
    }
}
