page-admin {
    b.payetherb {
        font-size: 16px;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }
    ion-item.text-center.iitembtn button {
        float: right;
    }
}
